.featuresContainer {
	padding-top: 1rem;
	margin-bottom: -2rem;
}

.features {
	padding-top: 0.5rem;
}

.features label {
	display: inline-block;
	color: rgba(255, 255, 255, 0.7);

	width: 10rem;
	margin-left: 6rem;
	text-transform: capitalize;
}
