.avatar {
	filter: grayscale(50%);
	display: inline-block;
	background-size: cover;
	position: relative;
	width: 2rem;
	height: 2rem;
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-radius: 50%;
	cursor: pointer;
}

.avatar:hover {
	filter: grayscale(20%);
}

.avatarInitial {
	composes: avatar;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.05);
}

.initial {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.8);
	width: 100%;
	text-align: center;
	position: relative;
	top: 0.4rem;

}
