.track {
	display: flex;
	margin-bottom: 2rem;
	align-items: center;
	max-width: 50rem;
}

.trackHero {
	composes: track;
	margin-bottom: 7rem;
}

.artwork {
	width: 4rem;
	height: 4rem;
	background-size: cover;
	min-width: 4rem;
	flex-shrink: 0;
}

.artworkHero {
	composes: artwork;
	width: 10rem;
	min-width: 10rem;
	height: 10rem;
}

.artistsAndTrackName {
	font-size: 1rem;
	min-width: 15rem;
	color: rgba(255, 255, 255, 0.9);
	margin-left: 2rem;
	letter-spacing: 0.05rem;
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
	text-overflow: ellipsis;
	overflow: hidden;
	flex-shrink: 2;
}

.artistsAndTrackNameHero {
	composes: artistsAndTrackName;
	font-size: 1.4rem;
}

.artists {
	font-weight: 200;
	font-size: 80%;
	color: rgba(255, 255, 255, 0.65);
}

.artistsHero {
	font-size: 75%;
	composes: artists;
}

.name {
	font-weight: 500;
	margin-bottom: 0.3rem;
}

.nameHero {
	composes: name;
}

.votes {
	display: flex;
	flex-direction: row-reverse;
	margin: 0.5rem 0.5rem 0.5rem auto;
	opacity: 0.9;
	flex-shrink: 0;
}

.votes:hover {
	opacity: 1;
}

.votesHero {
	margin: 0.7rem auto 0 0;
	display: flex;
	float: left;
	flex-direction: row-reverse;
}

.avatarContainer {
	opacity: 1;
	margin-right: -0.8rem;
	transform: scale(0.75);
}

.avatarContainerHero {
	composes: avatarContainer;
	transform: none;
}

.voteUpButton {
	margin-right: 0.1rem;
	margin-left: 1rem;
	margin-top: 0;
	padding: 0.2rem;
	width: 1.5rem;
	z-index: 2;
	opacity: 0.4;
	transform: scale(1.02);
	cursor: pointer;
}

.voteUpButton:hover {
	opacity: 0.7;
}

.buttons {
	margin-right: 1rem;
	opacity: 0;
	flex-shrink: 0;
}

.track:hover .buttons {
	opacity: 1;
}

.buttonsHero {
	composes: buttons;
	margin-left: auto;
}

.button {
	opacity: 0.8;
	cursor: pointer;
	padding: 0.3rem;
}

.button:hover {
	opacity: 0.95;
}
