.topBar {
	background-color: #151518;
	width: 100%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
	position: fixed;
}

.soundbounce {
	display: inline-block;
	float: left;
	padding: 1rem;
	text-indent: 1rem;
	font-size: 1.2rem;
}
