.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.copy {
	font-size: 0.6rem;
	margin-bottom: 0.5rem;
}

.date {
	font-size: 0.6rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.artwork {
	composes: artworkHero from 'components/track/track.css';
	width: 10rem;
	height: 10rem;
	min-width: 10rem;
	vertical-align: top;
}

.album {
	display: flex;
	width: 100%;
	max-width: 50rem;
	margin-bottom: 2rem;
}

.artworkAndCopyright {
	display: inline-block;
	vertical-align: top;
	width: 10rem;
}

.trackList {
	flex-grow: 10;
	margin-left: 0.5rem;
	padding-top: 1rem;
}

.tracks {
}

.track {
	padding: 0.5rem;
}

.trackSelected {
	composes: track;
	background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1));
}

.albumName {
	font-size: 1.4rem;
	font-weight: 200;
	letter-spacing: 0.04rem;
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
	margin-bottom: 0.5rem;
	margin-left: 2.5rem;
	color: rgba(255, 255, 255, 0.95);
}

.artists {
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: 0.04rem;
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	margin-left: 2.5rem;
	color: rgba(255, 255, 255, 0.70);
}

.trackName {
	letter-spacing: 0.04rem;
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
	cursor: pointer;
	flex-grow: 10;
}

.duration {
	font-weight: 200;
	letter-spacing: 0.04rem;
	text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.4);
	margin-right: 0.5rem;
	margin-left: 0.25rem;
}

.trackSelected .trackName {
	color: rgba(255, 255, 255, 0.95);
}

.number {
	position: relative;
	margin-right: 1rem;
	width: 1rem;
	height: 1rem;
	min-width: 1rem;
	text-align: right;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.4);
}

.track:hover .number {
	color: transparent;
}

.numberPreviewing {
	composes: number;
	color: transparent;
}

.numberPreviewing:after {
	content: ' ';
	position: absolute;
	width: 2rem;
	height: 2rem;
	opacity: 0.9 !important;
	left: -4px !important;
	top: -9px;
	cursor: pointer;
	transform: scale(0.7) !important;
	background: url(components/svg/icons/loading-spin.svg) no-repeat 50% 50% !important;
}

.track:hover .number:after {
	content: ' ';
	position: absolute;
	width: 2rem;
	height: 2rem;
	opacity: 0.5;
	left: -5px;
	top: -9px;
	cursor: pointer;
	background: url(components/svg/icons/play.svg) no-repeat 50% 50%;
}

.track:hover .number:hover:after {
	opacity: 0.95;
	transform: scale(1.25);
}

.track:hover .duration {
	display: none;
}

.upvote {
	display: none;
	position: relative;
	width: 2.5rem;
	height: 1rem;
}

.upvoteInner {
	position: absolute;
	cursor: pointer;
	top: -0.6rem;
	padding: 0.5rem;
}

.track:hover .upvote {
	display: block;
	opacity: 0.7;
}

.track:hover .upvote:hover {
	opacity: 1;
}

.selectedTrackDetails {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
	margin-left: 2rem;
	align-items: center;
	height: 24px;
}

.trackFlex {
	display: flex;
}

.bpm {
	font-size: 0.6rem;
	letter-spacing: 0.02rem;
	margin-right: 0.2rem;
	text-align: center;
}

.key {
	color: rgba(255, 255, 255, 0.6);
}

.key span {
	letter-spacing: -1px;
}

.wave {
	position: relative;
	width: 190px;
	margin-right: 0.5rem;
	flex-grow: 1;
	cursor: pointer;
}
