.panel {
	font-size: 100%;
}

.chatBox {
	composes: surround from 'shared/css/input.css';
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	right: 1rem;
}

.input {
	composes: input from 'shared/css/input.css';
}

.sendIcon {
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	cursor: pointer;
	opacity: 0.6;
}

.sendIcon:hover {
	opacity: 0.8;
}

.emojiIcon {
	position: absolute;
	right: 2rem;
	top: 0.4rem;
	cursor: pointer;
	opacity: 0.6;
}

.emojiIcon:hover {
	opacity: 0.8;
}

.chatScroll {
	position: absolute;
	top: 0;
	left: 0;
	right: 0.5rem;
	bottom: 2.9rem;
	overflow-y: scroll;
	-webkit-mask-image: -webkit-gradient(linear, left 5%, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

}

.actionLog {
	/* this is to push the first items ever posted in a room beneath the fade out */
	padding-top: 3rem;
}
