.wrapper {
	animation-fill-mode: forwards;
	display: inline-block;
	-webkit-backface-visibility: hidden;
}

@keyframes emojiWobble {
	0% {
		transform: rotate(30deg) scale(0.8);
	}
	50% {
		transform: rotate(-30deg) scale(0.9);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes emojiGrow {
	0% {
		transform: scale(0.3);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes emojiBounce {
	0% {
		transform: translateY(0) scale(0.8);
	}
	50% {
		transform: translateY(-7px) scale(0.6);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

@keyframes emojiShake {
	0%, 50%, 100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
}

@keyframes emojiSpin {
	0% {
		transform: rotate(0);
	}
	90% {
		transform: rotate(370deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes emojiVibrate {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-2px, 2px);
	}
	40% {
		transform: translate(-2px, -2px);
	}
	60% {
		transform: translate(2px, 2px);
	}
	80% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes emojiBlink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@keyframes emojiFlip {
	0% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(360deg);
	}
}

.none {
	animation: none !important;
}

.wobble {
	composes: wrapper;
	animation: emojiWobble ease-out 400ms 1;
}

.grow {
	composes: wrapper;
	animation: emojiGrow ease-out 400ms 1;
}

.bounce {
	composes: wrapper;
	animation: emojiBounce ease-in-out 200ms 1;
}

.shake {
	composes: wrapper;
	animation: emojiShake ease-in-out 200ms 1;
}

.spin {
	composes: wrapper;
	animation: emojiSpin ease-in-out 400ms 1;
}

.vibrate {
	composes: wrapper;
	animation: emojiVibrate linear 300ms 1;
}

.blink {
	composes: wrapper;
	animation: emojiBlink ease-in-out 200ms 1;
}

.flip {
	composes: wrapper;
	animation: emojiFlip ease-out 400ms 1;
	-webkit-backface-visibility: inherit !important;
}
