.wrapper {
	animation-fill-mode: forwards;
	display: inline-block;
	-webkit-backface-visibility: hidden;
}

@keyframes emojiWobble {
	0% {
		transform: rotate(30deg) scale(0.8);
	}
	50% {
		transform: rotate(-30deg) scale(0.9);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes emojiGrow {
	0% {
		transform: scale(0.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes emojiBounce {
	0% {
		transform: translateY(0) scale(0.8);
	}
	50% {
		transform: translateY(-7px) scale(0.6);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

@keyframes emojiShake {
	0%, 50%, 100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
}

@keyframes emojiSpin {
	0% {
		transform: rotate(0);
	}
	90% {
		transform: rotate(370deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.none {
	animation: none !important;
}

.wobble {
	composes: wrapper;
	animation: emojiWobble ease-out 400ms 1;
}

.grow {
	composes: wrapper;
	animation: emojiGrow ease-out 400ms 1;
}

.bounce {
	composes: wrapper;
	animation: emojiBounce ease-in-out 200ms 1;
}

.shake {
	composes: wrapper;
	animation: emojiShake ease-in-out 200ms 1;
}

.spin {
	composes: wrapper;
	animation: emojiSpin ease-in-out 400ms 1;
}
