
.nav {
	background-color: #151518;
	width: 6rem;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.07);
	position: fixed;
	top: 0;
	z-index: 3;
}

.text {
	display: inline-block;
	position: relative;
	top: -0.6rem;
	text-align: right;
}

.profileName {
	display: inline-block;
	text-align: right;
	font-size: 0.8rem;
}

.room {
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.deviceIconContainer {
	position: absolute;
	top: 8rem;
	left: 2rem;
	cursor: pointer;
	opacity: 0.4;
}

.deviceIconContainer:hover {
	opacity: 0.7;
}

.dropdownArrow {
	font-size: 0.3rem;
	position: relative;
	top: -0.1rem;
	color: rgba(255, 255, 255, 0.5);
}

.avatarContainer {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	cursor: pointer;
}

.helpContainer {
	position: absolute;
	bottom: 6rem;
	left: 2rem;
	cursor: pointer;
	opacity: 0.7;
}

.helpContainer:hover {
	opacity: 1;
}

.soundbounce {
	position: relative;
	top: 0;
	cursor: pointer;
	text-align: center;
	line-height: 6rem;
	left: 0;
	width: 6rem;
	height: 6rem;
	font-size: 2rem;
	letter-spacing: -0.1rem;
	background-color: rgba(0, 0, 0, 0.2);

}

.soundbounce:hover {
	background-color: rgba(55, 55, 55, 0.2);
	cursor: pointer;
}
