.threeContainer {
	margin-top: 30px;
}

.keys {
	position: absolute;
	top: 403px;
	left: 72px;
}

.title {
	position: absolute;
	top: 1px;
	left: 0;
	width: 450px;
	text-align: center;
	font-weight: 600;
	color: black;
	text-shadow: -1px -1px 0 #99a,
	1px -1px 0 #999,
	-1px 1px 0 #bbb,
	1px 1px 0 #bbb;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	letter-spacing: -1px;
}

.scoreSame {
	transition: all 320ms cubic-bezier(0.815, 0.015, 0.440, 1.000);
	position: absolute;
	top: 30px;
	left: 0;
	width: 450px;
	text-align: center;
	font-weight: 900;
	color: black;
	text-shadow: -1px -1px 0 #999,
	1px -1px 0 #999,
	-1px 1px 0 #bbb,
	1px 1px 0 #bbb;
	font-size: 2.5rem;
	letter-spacing: -1px;
}

.scoreFalling {
	composes: scoreSame;
	text-shadow: -1px -1px 0 #c00,
	1px -1px 0 #c00,
	-1px 1px 0 #d00,
	1px 1px 0 #d00;
}

.scoreRising {
	composes: scoreSame;
	text-shadow: -1px -1px 0 #0c0,
	1px -1px 0 #0c0,
	-1px 1px 0 #0d0,
	1px 1px 0 #0d0;
}

.key {
	transition: all 120ms cubic-bezier(0.815, 0.015, 0.440, 1.000);
	text-transform: uppercase;
	width: 40px;
	height: 45px;
	margin: 2px;
	margin-right: 19px;
	border-width: 3px 7px 10px;
	border-style: solid;
	border-radius: 4px;
	float: left;
	color: #222;
}

.keyWhite {
	background: #d3cfcc;
	border-color: #ece8e4 #dedad6 #c9c4c4;
}

.key {
	background: #332f2c;
	border-color: #4c4844 #3e3a36 #292424;
}

@keyframes shake {
	0%, 50%, 100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
}

.keyShouldPress {
	composes: key;
	animation: shake ease-in-out 80ms infinite;
}

.keyPressed {
	composes: key;
	transform: scale(0.95);
}

.keycap {
	width: 36px;
	height: 36px;
	padding: 7px 0 0 2px;
	font-size: 18px;
	line-height: 1;
	background: #151311;
	text-align: center;
	background: linear-gradient(to right, #252221, #353331, #252221);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	position: relative;
}

.keyPressed .keycap {
	background: #353331;
	text-align: center;
	background: linear-gradient(to right, #454241, #555351, #454241);
}

.keyShouldPress .keycap {
	background: #651311;
	background: linear-gradient(to right, #652221, #753331, #652221);
}
