@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 200;
	src: url(../fonts/helveticaneue-thin.woff) format('woff');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/helveticaneue-light.woff) format('woff');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/helveticaneue-regular.woff) format('woff');
}

@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/helveticaneue-bold.woff) format('woff');
}

.helvetica {
	font-family: 'Helvetica Neue', sans-serif;
	letter-spacing: 0.01em;
}
