.input {
	background-color: transparent;
	border: none;
	outline: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.9rem;
	font-weight: 200;
	width: 100%;
}

.input::placeholder {
	color: rgba(255, 255, 255, 0.4);
	overflow: hidden;
	text-overflow: ellipsis;
}

.surround {
	padding: 0.5rem 4rem 0.5rem 1rem;
	border: 0.05rem solid rgba(255, 255, 255, 0.4);
	border-radius: 0.4rem;
}
