.topBar {
	height: 6rem;
}

.search {
	position: relative;
	top: 2rem;
	margin-left: 2rem;
	padding: 0.5rem 2.5rem 0.5rem 1rem;
	border: 0.05rem solid rgba(255, 255, 255, 0.4);
	border-radius: 0.3rem;
	width: 30%;
	max-width: 20rem;
}

.input {
	background-color: transparent;
	border: none;
	outline: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 1rem;
	font-weight: 200;
	width: 100%;
}

.input::placeholder {
	color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	text-overflow: ellipsis;
}

.searchIcon {
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	cursor: pointer;
	opacity: 0.6;
}

.searchIcon:hover {
	opacity: 0.8;
}
