.roomAndChat {
	display: flex;
	width: 100%;
	z-index: 2;
	height: 100%;
}

.room {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	left: 2rem;
	top: 6rem;
	bottom: 0;
	right: 22.5rem;
	min-height: 0;
}

.chat {
	position: absolute;
	overflow-y: scroll;
	top: 6rem;
	bottom: 0;
	right: 0.5rem;
	width: 21.5rem;
	min-height: 0;
}

@media (max-width: 900px) {
	/* narrower chat when narrower window
    todo: mobile versions of this kind of thing
     */
	.room {
		composes: room;
		right: 17.5rem;
	}

	.chat {
		composes: chat;
		width: 17rem;
	}
}
