.roomAndChat {
	position: absolute;
	left: 0;
	right: 0;
	top: 6rem;
	bottom: 0;
	z-index: 2;
}

.room {
	position: absolute;
	overflow: auto;
	left: 2rem;
	top: 0;
	bottom: 0;
	right: 30.5rem;
	min-height: 0;
}

.chat {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.5rem;
	width: 29.5rem;
	min-height: 0;
}

@media (max-width: 1200px) {
	/* narrower chat when narrower window
    todo: mobile versions of this kind of thing
     */
	.room {
		composes: room;
		right: 20.5rem;
	}

	.chat {
		composes: chat;
		width: 19.5rem;
	}
}

@media (max-width: 1100px) {
	/* narrower chat when narrower window
    todo: mobile versions of this kind of thing
     */
	.room {
		composes: room;
		right: 17.5rem;
	}

	.chat {
		composes: chat;
		width: 17rem;
	}
}

.play {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 10;
	cursor: pointer;
}

.otherTabs {
	position: absolute;
	top: 17rem;

}
