:global #root {
	height: 100%;
}

html, body, .app {
	background-color: #151518;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
}

.app {
	composes: helvetica from 'shared/css/helvetica.css';
	width: 100%;
	height: 100%;
	font-weight: 300;
}

.bg {
	z-index: 1;
}

.container {
	position: absolute;
	top: 0;
	left: 6rem;
	height: 100%;
	width: calc(100% - 5rem);
	z-index: 2;
}

@media screen and (max-width: 600px) {
	.container {
		left: 0;
		width: 100%;
	}
}

a {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 600px) {
	html {
		font-size: 90%;
	}
}
