html, body {

	background-color: #151518;
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
}

.app {
	composes: helvetica from 'shared/css/helvetica.css';
	width: 100%;
	font-weight: 200;
}

