html, body {
	background-color: #353442;
	margin: 0;
	padding: 0;
	font-size: 120%;
	color: rgba(255, 255, 255, 0.8);
}

a {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: rgba(255, 255, 255, 0.9);

}

.app {
	composes: helvetica from 'shared/css/helvetica.css';
	width: 100%;
	font-weight: 200;
}

.children {
	padding-top: 3.2rem;
}
