html, body {
	background-color: #232129;
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.8);
}

.app {
	composes: helvetica from 'shared/css/helvetica.css';
	width: 100%;
	font-weight: 200;
}

