.artwork {
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	width: calc(100% + 6rem);
	height: calc(100% + 6rem);
	margin: -3rem;
	filter: blur(2rem) brightness(.12);
	overflow: hidden;
}
