.status {
	float: right;
	height: 3.4rem;
}

.artwork {
	background-size: contain;
	width: 3.4rem;
	height: 3.4rem;
	display: inline-block;
}

.info {
	position: relative;
	top: -0.9rem;
	height: 1rem;
	margin-right: 0.75rem;
	display: inline-block;
}

.title {
	font-size: 0.8rem;
	text-align: right;
}

.artists {
	font-size: 0.7rem;
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
}

