.container {
	z-index: 10;
	position: absolute;
	bottom: 10rem;
	left: 5rem;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 1rem;
	display: inline-flex;
	flex-direction: column;
}

.device {
	padding: 1rem;
	font-size: 0.8rem;
}

.notFound {
	padding: 1rem;
	width: 13rem;
	line-height: 1.3rem;
}

.device:not(:last-child) {
	border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
}

.device:hover {
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.device:hover:last-child {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.device:hover:first-child {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.deviceActive {
	composes: device;
	color: limegreen;
}
